streamlit
pandas
numpy
plotly
requests
python-dateutil
openpyxl
pillow
os                                                               
base64                                                           
mammoth                                                          
BytesIO                                                 
